.form__button {
    padding: 10px 5px;
    color: white;
    background-color: hsl(180, 100%, 25%);
    border: none;
    cursor: pointer;
    transition: background 1s, transform 0.5s;
}

.form__button:active {
    outline: auto;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(105%);
}

.form {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 1px solid gainsboro;
    padding: 8px;
    outline: none
}

.form__input:focus {
    border: 1px solid black;
    border-radius: 2px;
}