html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(0, 10%, 95%);
  word-break: break-word;
  max-width: 900px;
  margin: auto;
}

@media (max-width: 767px) {
  .body {
    max-width: 80%;
    margin: auto;
  }
}